html, body {
    position: absolute;
    width: 100%;
    margin: 0;
}

.back {
    position: relative;
    margin: auto;
    width: 769px;
    height: 1123px;
    background-image: url("./res/Digitaler Adventskalender 21.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.bg {
    border: 2px solid red;
}

.box {
    position: absolute;
    padding: 20px 5px;
    opacity: 0;
}

.first {
    left: 45px;
    top: 200px;
}

.second {
    left: 610px;
    top: 220px;
}

.third {
    left: 640px;
    top: 600px;
}

.fourth {
    left: 80px;
    top: 800px;
}

.fifth {
    left: 200px;
    top: 290px;
}

.sixth {
    left: 630px;
    top: 85px;
}

.seventh {
    left: 280px;
    top: 640px;
}

.eighth {
    left: 480px;
    top: 430px;
}

.ninth {
    left: 90px;
    top: 90px;
}

.tenth {
    left: 50px;
    top: 950px;
}

.eleventh {
    left: 650px;
    top: 380px;
}

.twelfth {
    left: 250px;
    top: 50px;
}

.thirteenth {
    left: 240px;
    top: 820px;
}

.fourteenth {
    left: 680px;
    top: 820px;
}

.fifteenth {
    left: 70px;
    top: 520px;
}

.sixteenth {
    left: 470px;
    top: 140px;
}

.seventeenth {
    left: 370px;
    top: 480px;
}

.eighteenth {
    left: 450px;
    top: 650px;
}

.nineteenth {
    left: 0px;
    top: 340px;
}

.twentieth {
    left: 310px;
    top: 1000px;
}